.film--modal {
  position: fixed;
  top: 50%;
  height: 100%;
  width: 100%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: rgb(3 4 26 / 55%);
  backdrop-filter: blur(10px);
  padding: 10px 0 0 0;
  &__content {
    width: 65%;
    // border: 1px solid red;
    border-radius: 12px 12px 0 0;
    background-color: var(--bg-color);
    margin: 0 auto;
    overflow-y: scroll;
    height: 100%;
    .film--modal__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 10px 20px;
      position: sticky;
      top: 0;
      z-index: 5;
      background: var(--bg-color);
      // background-color: var(--bg-color);
      //.film--modal__header--btns {
      //  button {
      //    margin-right: 20px;
      //    border-bottom: 1px solid #fff;
      //  }
      //  button.active {
      //    margin-right: 20px;
      //    color: var(--accent-color);
      //    border-bottom: 1px solid var(--accent-color);
      //  }
      //}
      .film--modal__header--close {
        svg {
          cursor: pointer;
          z-index: 1;
          transition: 0.3s;
          &:hover {
            color: var(--accent-color);
          }
        }
      }
    }
    .film--modal__body {
      .film--modal__video {
        position: relative;
        //height: 710px;
        overflow: hidden;
        .repeat {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          color: var(--accent-color);
          background-color: var(--bg-color);
          padding: 5px;
          border-radius: 8px;
        }
        .progress {
          height: 2px;
          background-color: var(--accent-color);
          overflow: hidden;
          transition: 0.3s;
          position: absolute;
          bottom: 2px;
        }
        .player {
          display: flex;
          position: absolute;
          bottom: 0;
          justify-content: space-between;
          width: 100%;
          padding: 10px;
          align-items: center;
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffffff00&c2=6944df99&gt=l&gd=dtt
*/
background: rgba(255, 255, 255, 0.0);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.0), rgba(105, 68, 223, 0.6));
     
          .player--icon {
            cursor: pointer;
          }
          .player--content {
            width: 90%;
            display: flex ;
            align-items: center;
            justify-content: space-between;
            span {
              margin: 0 10px;
              font-size: 14px;
            }
            .player--progress {
              width: 100%;
              height: 5px;
              border-radius: 10px;
              // overflow: hidden;
              background: var( --text-blue-color);
              .player--progress_bar {
                background-color: var(--accent-color);
                transition: .3s;
                height: 100%;
                border-radius: 10px;
              }
            }
          }
         
        }

        .film--modal__video-footer {
          left: 0;
          position: absolute;
          bottom: 30px;
          display: flex;
          align-items: center;
          justify-content: end;
          width: 100%;
          padding: 0 20px;
          font-size: 16px;
          font-weight: bold;
          svg {
            cursor: pointer;
          }
        }

        video {
          width: 100%;
          height: 100%;
        }
      }

      .film--modal__info {
        padding: 10px 20px;
        .film--modal__title {
          margin: 5px 0;

          h1 {
            font-weight: bold;
            font-size: 24px;
          }
        }
        .film--modal__more {
          .film--modal__ganres {
            margin: 10px 0;
            display: flex;
            p {
              margin-right: 3px;
              font-size: 14px;
              color: var( --text-blue-color);
            }
          }
          .film--modal__country {
            margin: 10px 0;
            color: var( --text-blue-color);
            display: flex;
            align-items: center;
            .film--modal__age {
              margin-left: 5px;
              font-size: 14px;
              border: 1px solid var( --text-blue-color);
              color: var( --text-blue-color);
              // font-weight: bold;
              padding: 5px 8px;
              border-radius: 5px;
            }
          }
          button {
            margin: 20px 0;
          }
          .film--modal__description {
            h1 {
              color: white;
              font-weight: bold;
              font-size: 20px;
              margin-bottom: 5px;
            }
            margin: 20px 0;
            color: var( --text-blue-color);
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .film--modal {
    padding: 0;
    &__content {
      width: 100%;
      padding: 0;
      background-color: rgb(3 4 26 / 22%);
      .film--modal__body {
        .film--modal__video {
          height: 100%;
        }
      }
    }
  }
}
